@media screen and (min-width: 1031px)
{
	#logo
	{
		display: none;
	}

	#menuRect
	{
		display: block !important;
	}

	#menuRect > ul > li:hover > ol
	{
		display: block !important;
	}

	#menuRect > ul > li
	{
		position: relative;
		display: inline-block;
		width: 200px;
	}

	#menuRect > ul > li:hover
	{
		border-radius: 10px;
	}

	#menuRect > ul > li > a
	{
		border-radius: 10px;
	}

	#menuRect > ul > li:hover > a
	{
		color: gray;
	}

	#menuRect > ul > li > ol
	{
		display: none !important;
		position: absolute;
		z-index: 10;
	}

	#menuRect > ul > li > ol > li
	{
		width: 200px;
		background-color: #ddd;
	}

	#menuRect > ul > li > ol > li:hover
	{
		opacity: 0.8;
	}

	#menuRect > ul > li > ol > li:hover > a
	{
		color: #222;
	}
}