@media screen and (min-width: 1031px)
{
	#quote
	{
		position: absolute;
		left: 15px;
		top: 15px;
		max-width: 400px;
		font-size: 13px;
		font-weight: bold;
		color: white;
	}

	#logo
	{
		display: inline-block;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		top: 10px;
		border-bottom: 1px solid seagreen;
		margin-bottom: 8px;
	}

	#logo > img
	{
		width: 70px;
		height: 70px;
	}

	.logoText
	{
		bottom: 12px;
	}

	#menuRect
	{
		display: block !important;
	}

	#menuRect > ul > li:hover > ol
	{
		display: block !important;
	}

	#menuRect > ul > li
	{
		position: relative;
		display: inline-block;
		width: 200px;
	}

	#menuRect > ul > li:hover
	{
		cursor: pointer;
		background-color: #bcbcb0;
		border: 1px solid white;
		border-radius: 10px;
	}

	#menuRect > ul > li > a
	{
		border-radius: 10px;
	}

	#menuRect > ul > li:hover > a
	{
		color: #333;
	}

	#menuRect > ul > li > ol
	{
		display: none !important;
		position: absolute;
		z-index: 10;
	}

	#menuRect > ul > li > ol > li
	{
		width: 200px;
		background-color: #bcbcb0;
		opacity: 0.9;
		border-bottom: 2px dotted #565650;
	}

	#menuRect > ul > li > ol > li:last-child
	{
		border-bottom: none;
	}

	#menuRect > ul > li > ol > li:hover
	{
		opacity: 0.8;
		background-color: #ababa0;
		cursor: pointer;
	}

	#menuRect > ul > li > ol > li:hover > a
	{
		color: #222;
	}
}