body
{
	margin: 0;
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("../img/background.png");
	font-family: "Verdana";
}

/*Icons made by Icon Pond from www.flaticon.com*/
#topRect
{
	position: relative;
	background-color: #cdcdc1;
	border-bottom: 2px solid #999;
}

/*text on logo*/
.logoText
{
	display: inline-block;
	font-size: 26px;
	font-weight: bold;
	position: relative;
}

.leftLogoText
{
	color: red;
}

.rightLogoText
{
	color: seagreen;
}

/*container for menu options*/
#menuRect
{
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
}

/*list of menu options*/
#menuRect > ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/*menu options positioned horizontally*/
#menuRect > ul > li
{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	border: 1px solid transparent;
}

#menuRect > ul > li > a
{
	display: block;
	text-decoration: none;
	color: white;
	padding: 10px;
}

/*list of submenu options, visible when one of horizontal menu option is hovered over*/
#menuRect > ul > li > ol
{
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menuRect > ul > li > ol > li > a
{
	display: block;
	text-decoration: none;
	color: white;
	padding: 10px;
}

/*wrapper for text content*/
#content
{
	max-width: 1000px;
	min-height: 800px;
	background-color: #e7e7ee;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	text-align: justify;
	padding: 15px;
	padding-top: 8px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #444;
	-webkit-box-shadow: 3px 3px 8px 7px rgba(102,102,102,1);
	-moz-box-shadow: 3px 3px 8px 7px rgba(102,102,102,1);
	box-shadow: 3px 3px 8px 7px rgba(102,102,102,1);
}

p
{
	margin: 0;
	margin-bottom: 20px;
}

p:last-child
{
	margin-bottom: 0;
}